html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  text-align: right;
}

@font-face {
  font-family: IRANSans;
  font-display: swap;
  src: url(../public/font/eot/PinkSans.eot?#iefix) format('embedded-opentype'),
  url(../public/font/ttf/PinkSans.ttf) format('truetype'),
  url(../public/font/woff/PinkSans.woff) format('woff'),
  url(../public/font/woff2/PinkSans.woff2) format('woff2');
}

body *, body :after, body :before, body :hover {
  transition: .4s;
}

a,p,span,button,li,label,address,h1,h2,h3,h4,h5,h6,time,input,textarea{
  font-family: IRANSans;
  font-style: normal;
}

span{
  position: relative !important;
}

img{
  position: unset !important;
  width: 100% !important;
  height: 100% !important;
  min-width: unset !important;
  max-width: unset !important;
  min-height: unset !important;
  max-height: unset !important;
}

input:focus{
  border: unset;
  outline: unset;
}

textarea:focus{
  border: unset;
  outline: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  padding: 0;
  margin: 0;
  list-style: none;
}

header ul > li > a.has-children{
  position: relative;
}

header ul > li > a.has-children::before{
  content: "";
  position: absolute;
  background: url(../public/images/down-arrow.png) no-repeat;
  width: 13px;
  height: 7px;
  display: inline-block;
  left: -19px;
  top: 50%;
}

/*defined classes*/

.txtCenter{
  text-align: center;
}

.txtRight{
  text-align: right;
}

.txtLeft{
  text-align: left;
}

.row{
  width: 100%;
}

.col-12{
  width: 100%;
}

.col-10{
  width: 80%;
}

.col-9{
  width: 70%;
}

.col-8{
  width: 60%;
}

.col-6{
  width: 50%;
}

.col-4{
  width: 25%;
}

.col-3{
  width: 30%;
}

.col-2{
  width: 20%;
}

.col-1{
  width: 10%;
}

/*defined classes*/

.nav{
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  width: 70%;
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 6;
  box-shadow: 4px 6px 15px #585454;
}

.nav ul{
  width: 100%;
  height: 100%;
}

.nav.active{
  right: 0;
  transition: .7s;
}

.submenu{
  position: absolute;
  opacity: 0;
}

.submenu.active{
  opacity: 1;
}

address{
  font-style: normal;
}

.faqTitle.active{
  background: #6F2A82 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 8px 8px 0 0;
}

.faqTitle.active h3{
  color: #fff !important;
}

.faqTitle.active .icon svg path,circle{
  fill: #fff;
}

.faqItem.active{
  max-height: max-content !important;
}

.rules-tab li.active{
  background: #6F2A82;
  position: relative;
  color: #fff;
}

.rules-tab li.active::before{
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 4px;
  transform: rotate(45deg);
  bottom: -0.5rem;
  z-index: 9;
  background: #6f2a82;
  right: 0;
  left: 0;
  margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=radio]{
  accent-color: #8E24AA;
}

.blog-detail{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  padding: 2rem 4rem;
}

.blog-detail_main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
}

.blog-detail__form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.blog-detail__form .title{
  width: 100%;
  display: flex;
  align-items: center;
}

.blog-detail__form .title svg{
  margin-left: 1rem;
}

.blog-detail__form .title p{
  position: relative;
  width: 100%;
}

.blog-detail__form .title p::before{
  content: "";
  position: absolute;
  left: 0;
  width: 87%;
  border-bottom: 1px dashed #E5E5E5;
  bottom: 0.5rem;
}

#id-info{
  display: flex;
  justify-content: space-between;
}

#id-info > div{
  width: 48%;
}

.blog-detail__form button{
  width: 50%;
  margin-top: 1rem;
}

#related-posts{
  width: 100%;
  position: relative;
  display: flex;
  padding: 2rem 4rem;
  flex-direction: column;
}

.blog-detail__related{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.blog-detail__related .title{
  display: flex;
  margin: 1rem 0;
}

.blog-detail__related .title svg{
  margin-left: 1rem;
}

.blog-detail__related .title p{
  position: relative;
  width: 100%;
}

.blog-detail__related .title p::before{
  content: "";
  position: absolute;
  left: 0;
  width: 87%;
  border-bottom: 1px dashed #E5E5E5;
  bottom: 0.5rem;
}

.posts-related{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.posts-related > div{
  width: 22%;
}

.posts-related > div > a{
  font-size: .8rem;
  margin: .5rem 0;
  min-height: unset;
}

.posts-related > div > p{
  font-size: .7rem;
  margin: .5rem 0;
}

.posts-related > div time{
  font-size: .7rem;
}

.posts-related > div a{
  padding: .3rem 1.2rem;
  font-size: .7rem;
}

@media (max-width: 768px){
  .rules-tab li.active::before{
    width: 16px;
    height: 16px;
    bottom: -0.4rem;
  }
}